<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改样式</title>
    <!-- 依 赖 样 式 -->
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>
    <!-- 加 载 样 式 -->
    <link rel="stylesheet" th:href="@{/admin/css/loader.css}"/>
    <!-- 布 局 样 式 -->
    <link rel="stylesheet" th:href="@{/admin/css/admin.css}"/>
</head>
<body>
<form class="layui-form" action="" onsubmit="return false">
    <input type="hidden" id="uid" name="uid" th:value="${userlists.uid}">
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">
            <span style="color: red">*</span>用户昵称</label>
        <div class="layui-input-inline">
            <input type="text" id="nickname" th:value="${userlists.nickname}" name="nickname" readonly="readonly"
                   autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户性别</label>
        <div class="layui-input-inline">
            <input type="checkbox" disabled="disabled" name="sex" lay-skin="switch" lay-text="男|女"
                   th:checked="${userlists.sex} eq 1">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">用户头像</label>
        <div class="layui-input-block">
            <img style="height: 80px; width: 80px" th:src="${userlists.avatarurl}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户电话</label>
        <div class="layui-input-block">
            <input type="text" name="telnumber" readonly="readonly" class="layui-input"
                   th:value="${userlists.telnumber}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" readonly="readonly" class="layui-input"
                   th:value="${userlists.email}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户生日</label>
        <div class="layui-input-block">
            <input type="text" name="birthday" readonly="readonly" class="layui-input"
                   th:value="${#dates.format(userlists.birthday, 'yyyy-MM-dd')}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|禁用"
                   th:checked="${userlists.status} eq 0">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会员等级</label>
        <div class="layui-input-block">
            <input type="radio" name="vgrade" value="level1" title="level1" th:checked="${userlists.vgrade} eq 1 ">
            <input type="radio" name="vgrade" value="level2" title="level2" th:checked="${userlists.vgrade} eq 2 ">
            <input type="radio" name="vgrade" value="level3" title="level3" th:checked="${userlists.vgrade} eq 3 ">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户积分</label>
        <div class="layui-input-block">
            <input type="text" name="vcount"  class="layui-input"
                   th:value="${userlists.vcount}">
        </div>
    </div>


    <div class="button-container">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="user-save">
            <i class="layui-icon layui-icon-ok"></i>
            提交
        </button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
            <i class="layui-icon layui-icon-refresh"></i>
            重置
        </button>
    </div>
</form>
<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['form', 'select', 'dtree', 'jquery'], function () {
        let form = layui.form;
        $ = layui.jquery;
        //上传相关信息保存
        form.on('submit(user-save)', function (data) {
            var datas = data.field;
            if (datas.status = "on") {
                datas.status = 1
            } else {
                datas.status = 0
            }
            if (datas.sex = "女") {
                datas.sex = 2
            } else {
                datas.sex = 1
            }
            if(datas.vgrade=='level1'){
                datas.vgrade=1
            }
            else if(datas.vgrade=='level2'){
                datas.vgrade=2
            }
            else if(datas.vgrade=='level3'){
                datas.vgrade=3
            }
            console.log(datas)
            $.ajax({
                type: 'get',
                url: '/users/updateByUid',
                data: datas,
                success: function (result) {
                    console.log(result)
                    if (result.code=200) {
                        layer.msg(result.message, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.location.reload();//刷新页面
                        });
                    } else {
                        layer.msg(result.message, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>