<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>控制后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/console1.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/result.css}"/>
</head>
<body>
<div class="pear-container">
    <div class="layui-row layui-col-space12">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="line1" style="min-height:400px; min-width: 700px"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="line2" style="min-height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="line3" style="min-height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="line4" style="min-height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/component/layui/layui.all.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script th:src="@{/component/echarts/column1.js}"></script>
<script th:src="@{/component/echarts/column2.js}"></script>
<script th:src="@{/component/echarts/column3.js}"></script>
<script th:src="@{/component/echarts/line1.js}"></script>
<script th:src="@{/component/echarts/line2.js}"></script>
<script th:src="@{/component/echarts/line3.js}"></script>
<script th:src="@{/component/echarts/line4.js}"></script>

</body>
</html>
