<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改样式</title>
    <!-- 依 赖 样 式 -->
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>
    <!-- 加 载 样 式 -->
    <link rel="stylesheet" th:href="@{/admin/css/loader.css}"/>
    <!-- 布 局 样 式 -->
    <link rel="stylesheet" th:href="@{/admin/css/admin.css}"/>
</head>
<body>
<form class="layui-form" action="" onsubmit="return false">
    <input type="hidden" id="pid" name="pid" th:value="${productLists.pid}">
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">水果名称</label>
        <div class="layui-input-inline">
            <input type="text" id="pname" name="pname" readonly="readonly"
                   autocomplete="off" class="layui-input" th:value="${productLists.pname}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="status" lay-skin="switch" lay-text="上架|下架"
                   th:checked="${productLists.status} eq 1">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">商品示例图</label>
        <div class="layui-input-block">
            <img style="height: 80px; width: 80px" th:src="${productLists.imgurl}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">综合评分</label>
        <div class="layui-input-block">
            <input type="text" name="score" id="score" readonly="readonly" class="layui-input"
                   th:value="${productLists.score}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品价格</label>
        <div class="layui-input-block">
            <input type="text" name="price" class="layui-input" id="price" th:value="${productLists.price}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品尺寸</label>
        <div class="layui-input-block">
            <input type="text" name="heat" class="layui-input" id="heat" th:value="${productLists.heat}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品尺寸</label>
        <div class="layui-input-block">
            <input type="text" name="size" class="layui-input" id="size" th:value="${productLists.size}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品浏览量</label>
        <div class="layui-input-block">
            <input type="text" name="viewcount" class="layui-input" id="viewcount" th:value="${productLists.viewcount}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品简介</label>
        <div class="layui-input-block">
            <input type="text" name="description" class="layui-input" id="description"
                   th:value="${productLists.description}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品介绍</label>
        <div class="layui-input-block">
            <input type="text" name="introduction" class="layui-input" id="introduction"
                   th:value="${productLists.introduction}">
        </div>
    </div>
    <div class="button-container">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="user-save">
            <i class="layui-icon layui-icon-ok"></i>
            提交
        </button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
            <i class="layui-icon layui-icon-refresh"></i>
            重置
        </button>
    </div>
</form>
<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['form', 'select', 'dtree', 'jquery'], function () {
        let form = layui.form;
        $ = layui.jquery;
        //上传相关信息保存
        form.on('submit(user-save)', function (data) {
            var datas = data.field;
            if (datas.status = "on") {
                datas.status = 1
            } else {
                datas.status = 0
            }
            $.ajax({
                type: 'get',
                url: '/products/updateProductByPid',
                data: datas,
                success: function (result) {
                    if (result.code = 200) {
                        layer.msg(result.message, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.location.reload();//刷新页面
                        });
                    } else {
                        layer.msg(result.message, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>